doctype html
html
	head
		title Интернет-магазин TestTask
		meta(name="description" content="Разработка контентной стратегии для продвижения сайта, выбор, создание и размещение маркетингового контента")
		meta(name="keywords=" content="контентная стратегия, маркетинговый контент, тест")
		- var css = ["css/fonts.css", "css/style.css", "css/adaptive.css"];
		each item in css
			link(rel="stylesheet", href="" + item + "")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		main
			header.float-cont2
				div.logo
					img(src="img/logo.png")
				nav
					ul.menu
						li
							a(href="#") О компании
						li
							a(href="#") Услуги
						li
							a(href="#") Отзывы
						li
							a(href="#") Контакты
			div.advertisting.float-cont2
				div.image
					img(src="img/Smartphone-1.png")
				div.proposition
					h2 Типы контента, которые вы можете публиковать в своем интернет-магазине.
					p Грамотная контентная стратегия для интернет-магазина позволяет значительно увеличить объемы поискового трафика на сайт, за который предпринимателю нет необходимости платить. Это повышает рентабельность бизнеса, ускоряет его развитие и дает преимущество...
					div.button-container.fl-left 
						a.but(href="#") Подробнее
			section.articles
				article
					h2 Эффективность контентной стратегии
					p Грамотная контентная стратегия для интернет-магазина позволяет значительно увеличить объемы поискового трафика на сайт, за который предпринимателю нет необходимости платить. Это повышает рентабельность бизнеса, ускоряет его развитие и дает преимущество по сравнению с конкурентами.Поэтому выстраивать эффективную стратегию контент-маркетинга в современных реалиях просто необходимо.
					-	
						var icons = [
							{src:'img/ico/heads-ico.png', caption: 'Улучшение <br>посещаемости'},
							{src:'img/ico/busketup-ico.png', caption: 'Увеличение <br>количества продаж'},
							{src:'img/ico/calc-ico.png', caption: 'Рост <br>прибыли'},
							{src:'img/ico/portf-ico.png', caption: 'Стабильность <br>бизнеса'}
						]
					.icons.float-cont
						each icon in icons
							figure.float-cont
								img(src=icon.src)
								figcaption!=icon['caption']
				article
					h2 Информация о товаре
					p Это текст, который доступен посетителю на странице товара. Это может быть как качественно подготовленное описание, так и дополнительная информация: интересные факты, видеообзор, а также преимущества данного товара по сравнению с аналогами от конкурентов. Согласитесь, это будет гораздо интереснее, чем банальное описание технических характеристик.
				article
					h2 Маркетинговый контент
					p Речь идет о заметках и публикациях с информацией о скидках, распродажах, конкурсах и прочих акционных предложениях. Такой текст тоже необходимо тщательно прорабатывать, так как от стиля подачи во многом зависит и успех подобной акции. В современных реалиях вызвать интерес со стороны потенциального клиента не так уж и просто.
				article
					h2 Обзорные статьи
					p Они могут быть самыми разными – от разъяснения особенностей той или иной технологии и до демонстрации вариантов применения гаджета или другого подобного устройства. Важно раскрывать тему и давать пользователю исчерпывающий ответ на интересующий его вопрос. И да, не забывайте отвечать на комментарии – коммуникация должна быть двухсторонней.