doctype html
html
	head
		title Интернет магазин TestTask
		- var css = ["css/fonts.css", "css/style.css"];
		each item in css
			link(rel="stylesheet", href="" + item + "")
	body
		header
			nav
		section
			article
			article
			article
			article